<h1>
  <%= @people.length %> People
</h1>
<%= form_tag({action: :upload}, multipart: true, id: 'people_form') do %>
  <label for="file_name" class="file_name_label">Import a file</label>
  <div class="upload-container">
    <%= text_field_tag 'file_name', nil, class: 'file_name', disabled: true %>
    <%= file_field_tag 'people_upload', class: 'people_upload' %>
    <label for="people_upload">Browse</label>
  </div>
<% end %>

<div id="error-list">
</div>
<table id="people-table">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Middle Initial</th>
      <th>Pet</th>
      <th>Birthday</th>
      <th>Favorite Color</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.middle_initial %></td>
        <td><%= person.pet %></td>
        <td><%= person.dob %></td>
        <td><%= person.favorite_color %></td>
      </tr>
    <% end %>
  </tbody>
</table>
